body, html {
    margin: auto 250px;
}

body {
    overflow: scroll;
    width: 500px;
    text-align: center;
}

header {
    width: 500px;
    height: 30px;
    background: grey;
    color: white;
}

article {
    margin-top: 10px;
    width: 345px;
    max-height: 1000px;
    min-height: 500px;
    background: #e5e338;
    overflow: hidden;
}

.top_block {
    width: 145px;
    height: 150px;
    margin-top: 10px;
    margin-left: 355px;
    background: #57bc90;
    color: white;
}

.bottom_block {
    position: fixed;
    width: 145px;
    height: 100px;
    margin: 10px auto auto 355px;
    background: #dcc7aa;
    color: white;
}

.links {
    overflow: hidden;
    margin-top: 10px;
    width: 345px;
    height: 45px;
    background: #328cc1;
    color: white;
}

.bottom {
    overflow: hidden;
    margin-top: 10px;
    width: 500px;
    height: 30px;
    background: greenyellow;
}

footer {
    width: 500px;
    margin-top: 10px;
    background: #cd5360;
    color: white;
}

article, .links, .bottom, footer {
    float: left;
}